<ion-view>
<ion-header-bar class="bar-assertive">
 <button class="button button-assertive icon ion-android-arrow-back" ng-click="$goback()"></button>
  <h1 class="title">我的收藏</h1>
    <button class="button button-assertive icon ion-android-refresh" ng-click="$refresh()"></button>
</ion-header-bar>
<ion-content padding="true" class="page-star"  delegate-handle="listScroll">
    <ion-list id="home-list4">
        <ion-item ng-repeat="vo in videos" class="item-thumbnail-left" id="list-list-item15" ng-click="view(vo)">
            <img ion-img ngsrc="{{vo.preview_url}}">
            <h3 style="white-space: initial;max-height: 48px;">{{vo.title}}</h3>
            <p>
                <button ng-click="$event.stopPropagation()" class="button-assertive button button-small button-outline btn-keyword" ui-sref="app.list({key:vo.keyword})">{{vo.keyword}}</button>
            </p>
             <ion-option-button class="button-assertive" ng-click="delete(vo)">
                删除
            </ion-option-button>
        </ion-item>
    </ion-list>
</ion-content>
 <div class="button-top" scroll-top><i class="icon ion-arrow-up-a"></i></div>
</ion-view>