.page-list{
	 .btn-keyword {padding:0 2px;
        max-width: 150px;
        text-overflow: ellipsis;
        overflow: hidden;
        display: inline-block;
    }
    .scroll1{
    	bottom:0px;top:150px;position: absolute;
    }
    .scroll2{
    	bottom:0px;top:70px;position: absolute;
    }
}