*{
	margin: 0px;
	padding: 0px;
}
/*导航栏*/
/*通用的页面头开始*****************************************/
.m-enterprise{
	line-height: 30px;
	font-size: 12px;
	color: #333333;
	background: #f8f8f8;
	z-index: 998;
	width: 100%;
	overflow: hidden;
	vertical-align: top;
}

/*zoom: 1;通常是用来清除浮动、避免容器高度崩塌的*****/
.f-cb{
	zoom: 1;
}

.g-flow{
	/*width: 960px*/
	width: 1200px;
	margin: 0 auto;
	text-align: left;
}

.f-fl{
	float: left;
}


.m-enterprise .help-center{
	margin-left: 25px;
}

.f-fr{
	float: right;
}

/*菜单导航开始**************************************************/
.m-funcTab, .m-funcTab .g-row{
	position: relative;
}

.m-funcTab{
	height: 150px;
	background-color: #fff;
	box-shadow: 0 0 3px 1px rgba(51, 51, 51, .1);
}

.g-row{
	width: 1090px;
	margin-right: auto;
	margin-left: auto;
}

.m-funcTab .tab-logo{
	position: absolute;
	top: 36px;
	left: 0px;
	z-index: 2;
	display: inline-block;
	width: 128px;
	height: 48px;
}

#leaf{
	font-size: 30px;
	font-weight: 700;
}

/***搜索框开始************************************************/
.m-funcTab .tab-inner{
	position: relative;
	z-index: 0;
	display: block;
}

.m-search{
	padding-top: 28px;
}

.w-button-cart {
    font-size: 14px;
    width: 126px;
    height: 42px;
    border: 1px solid #ddd;
    float: right;
    margin-right: 30px;
    margin-left: 20px;
    background: #f5f5f5;
}

.w-button-cart .icon-cart{
	margin-right: 5px;
	margin-left: 13px;
	margin-top: 9px;
	float:left;
	background: url(../img/personal/icon-sd.png) no-repeat;
	background-position: 0 -61px;
	width: 21px;
    height: 21px;
	display: block;
}

.w-button-cart .text{
	float:left;
	margin-left: 3px;
	margin-top: 10px;
}

.w-button-cart .w-icon-num{
	color: #fff;
    text-align: center;
    line-height: 20px;
    margin-top: 10px;
    margin-left: 3px;
    float: left;
    background: url(../img/icon-normal-car.png) no-repeat;
    background-position: 0 -117px;
    height: 20px;
    width: 20px;
    display: block;
}

/*搜索框************************/
.m-search .m-searchInput {
    position: relative;
}

.m-search .m-searchInput .w-button-search {
    width: 45px;
    height: 42px;
    border: 1px solid #ddd;
    border-left: 0;
    /*padding-top: 10px;*/
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.w-button {
    border-radius: 2px;
    width: 96px;
    height: 28px;
    letter-spacing: normal;
    line-height: 26px;
    font-size: 12px;
    text-align: center;
    color: #333;
    border: 1px solid #ccc;
    background-color: #f5f5f5;
    cursor: pointer;
}

.m-search .m-searchInput .w-button-search, .m-search .m-searchInput .w-searchInput {
    float: right;
}

.m-search .m-searchInput, .m-search .w-button-cart {
    float: right;
    margin-left: 20px;
}

.icon-normal-search {
	display: inline-block;
    overflow: hidden;
    font-size: 12px;
    word-spacing: normal;
    letter-spacing: normal;
	background: url(../img/icon-normal-car.png) no-repeat;
    background-position: 0 -2857px;
    height: 20px;
    width: 20px;
    display: block;
    margin: auto;
  	margin-top: 10px;
}
.m-search .m-searchInput .w-searchInput {
    border: 1px solid #ddd;
    font-size: 13px;
    color: #333;
    width: 252px;
    height: 42px;
   	padding-left:10px;
    float: right;
}

/*菜单栏************************************************/
.m-funcTab .tab-nav{
	float: left;
	margin-left: 60px;
	margin-top: 40px;
	line-height; 1;
	font-weight: 700;
	overflow: hidden;
	height: 30px;
	/*border: 1px solid black;*/
}

.m-funcTab .first{
	padding-left: 30px;
}

.m-funcTab .nav-item{
	float: left;
	padding: 3px 35px 0;
	font-size: 14px;
	/*border: 1px red solid;*/
}

.level{
	z-index: 99;
	width: 28px;
	height: 2px;
	background: #AB2B2B;
	display: none;
}

.m-funcTab .nav-item .topLevel{
	position: relative;
	z-index: 2;
	display: block;
	padding-bottom: 6px;
}

.m-funcTab .split {
    border-left: 1px solid #ccc;
    height: 20px;
    margin-top: 5px;
    margin-right: 5px;
    float: left;
}

/*.nav-dropdown{
 	display: block;
    position: absolute;
    z-index: 3;
    width: 40px;
    height: 100px;
    background-color: transparent;
    border: 1px red solid;
 }*/
 
/*通用的页面头结束***************************************************************************************************/

/*中心部分*/
.center-top{
	width: 1090px;
	height: 32px;
	line-height: 32px;
	margin: 10px auto;
	font: "agency fb";
	color: darkgray;
	border: 1px solid lightgray;
	border-top: none;
	border-left: none;
	border-right: none;
}
.center-container{
	width: auto;
	height: 577px;
	border: 1px solid black;
	border: none;
}
.center{
	width: 1261px;
	height: 577px;
	border: 1px solid black;
	margin: auto;
	border: none;
}

.center-middle{
	width: 1090px;
	height: 499px;
	margin: 0 auto;
	border: 1px solid black;
	border: none;
}
.center-middle .left{
	float: left;
	width: 180px;
	height: 499px;
	margin-right: 10px;
	padding: auto;
	border: 1px solid lightgray;
}
.center-middle .left .left-photo{
	width: 100px;
	height: 100px;
	margin: 25px auto;
	border: 1px solid black;
	background-image: url(../img/personal/head.png);
	border: none;
	cursor: pointer;
}
.center-middle .left .left-nickname{
	width:178px;
	height: 21px;
	margin-bottom: 25px;
	border: 1px solid black;
	text-align: center;
	border: none;
	font-weight: 700;
}
.center-middle .left .left-change{
	width: 96px;
	height: 28px;
	font-size: 12.3px;
	line-height: 28px;
	text-align: center;
	margin: 20px auto;
	border: 1px solid gray;
	background-color: lightgrey;
	cursor: pointer;
}
.center-middle .left .left-change:hover{
	background-color: #FFFFFF;
}
.center-middle .left .title{
	width: 140px;
	height: 200px;
	margin: 40px auto;
	border: 1px dashed lightgray;
	border-left: none;
	border-right: none;
	border-bottom: none;
}
.center-middle .left .title .line{
	width: 130px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	border: 1px solid black;
	z-index: 10px;
	margin: 27px auto;
	cursor: pointer;
	border: none;
}
.center-middle .left .title .line:hover{
	color: orangered;
}
.center-middle .left .title .line:active{
	color: orangered;
}
/*欢迎界面*/
.center-middle .right{
	display: block;
	float: right;
	width: 880px;
	height: 499px;
	margin-left: 10px;
	border: 1px solid lightgray;
	/*border: none;*/
}
.center-middle .right .right-top{
	width: 880px;
	height: 43px;
	border: 1px solid black;
	border-right: none;
	border-left: none;
}
.center-middle .right .none{
	width: 300px;
	height: 300px;
	margin: 90px auto;
	border: 1px solid #FFFFFF;
}
.center-middle .right .none .none-pic{
	width: 60px;
	height: 60px;
	margin: 80px  auto 0;
	background-image: url(../img/personal/none.png);
}
.center-middle .right .none .none-shop{
	height 28px;
	text-align: center;
	line-height: 28px;
	margin-top: 20px;
}
.center-middle .right .none .none-a{
	height: 23px;
	text-align: center;
}

/*地址管理*/
.center-middle .right1{
	display: none;
	float: right;
	width: 880px;
	height: 499px;
	margin-left: 10px;
	border: 1px solid lightgray;
	/*border: none;*/
}

.center-middle .right1 .right1-top{
	width: 880px;
	height: 43px;
	border: 1px solid black;
	border-right: none;
	border-left: none;
}
.center-middle .right1 .right1-shop{
	width: 880px;
	height: 86px;
	border: 1px solid black;
	border-right: none;
	border-left: none;
}
.center-middle .right1 .none-1{
	width: 300px;
	height: 300px;
	margin: 90px auto;
	border: 1px solid #FFFFFF;
}
.center-middle .right1 .none-1 .none-pic{
	width: 60px;
	height: 60px;
	margin: 80px  auto 0;
	background-image: url(../img/personal/none.png);
}
.center-middle .right1 .none-1 .none-shop{
	height 28px;
	text-align: center;
	line-height: 28px;
	margin-top: 20px;
}
.center-middle .right1 .none-1 .none-a{
	height: 23px;
	text-align: center;
}
/*个人信息*/
.center-middle .right2{
	display: none;
	float: right;
	width: 880px;
	height: 461px;
	margin-left: 10px;
	padding-top: 40px;
	border: 1px solid lightgray;
	/*border: none;*/
}
.center-middle .right2 .item{
	width: 828px;
	height: 34px;
	margin-bottom: 20px;
	margin-left: 40px;
	border: 1px solid black;
	border: none;
}
.center-middle .right2 .item .label-item{
	display: block;
	float: left;
	width: 60px;
	height: 34px;
	margin-left: 20px;
	color: black;
	text-align: left;
	font-size: 15px;
	line-height: 34px;
	font-weight: 700;
}

.center-middle .right2 .item .div-item{
	display: block;
	float: left;
	height: 33px;
	margin-left: 48px;
	text-align: left;
	line-height: 33px;
}
.center-middle .right2 .item .input-item{
	height: 33px;
	/* text-align: center; */
	line-height: 33px;
}
.center-middle .right2 .item .input-item .m13{
	margin-left: 3px;
}
.center-middle .right2 .item .unit {
    margin: 0 20px 0 6px;
    vertical-align: middle;
}
.center-middle .right2 .item .div-item .btn_save{
	display: block;
	width: 144px;
	height: 42px;
	text-align: center;
	line-height: 42px;
	background-color: #ab2b2b;
	color: #fff;
	cursor: pointer;
}

/*我的订单*/
.center-middle .right3{
	display: none;
	float: right;
	width: 880px;
	height: 499px;
	margin-left: 10px;
	border: 1px solid lightgray;
	/*border: none;*/
}

.center-middle .right3 .right3-top{
	width: 880px;
	height: 43px;
	border: 1px solid black;
	border-right: none;
	border-left: none;
}
.center-middle .right3 .none-3{
	width: 300px;
	height: 300px;
	margin: 90px auto;
	border: 1px solid #FFFFFF;
}
.center-middle .right3 .none-3 .none-pic{
	width: 60px;
	height: 60px;
	margin: 80px  auto 0;
	background-image: url(../img/personal/none.png);
}
.center-middle .right3 .none-3 .none-shop{
	height 28px;
	text-align: center;
	line-height: 28px;
	margin-top: 20px;
}
.center-middle .right3 .none-3 .none-a{
	height: 23px;
	text-align: center;
}

/*尾部*/
.footer-container{
	width: auto;
	height: 204px;
	border: 1px solid lightgray;
	border-left: none;
	border-right: none;
	border-bottom: none;
}
.footer{
	width: 1261px;
	height: 204px;
	border: 1px solid black;
	margin: auto;
	border: none;
}

/***************************辅助显示开始*************************/
#sethead-box{
	display: none;
	z-index: 3;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 500px;
	height: 480px;
	margin: -250px 0 0 -250px;
	background: white;
	
}

.sethead-back{
	display: none;
	z-index: 2;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: black;
	opacity: 0.8;
}

#sethead-close{
	float: right;
	text-decoration: none;
	margin-right: 10px;
	margin-top: 10px;
	font-size: 35px;
	color: gray;
	
}

#sethead-name{
	float: left;
	font-family: "微软雅黑";
	font-size: 17px;
	margin-left: 25px;
	margin-top: 35px;
}

#sethead-upload{
	position: relative;
	display: block;
	width: 183px;
	height: 50px;
	text-align: center;
	text-decoration: none;
	border: 1px solid darkgrey;
	font-size: 17px;
	font-family: "微软雅黑";
	margin-top: 202px;
	margin-left: 147px;
	line-height: 50px;
	color: black;
}

#sethead-hold{
	display: block;
	margin-left: 174px;
	color: gray;
	font-family: "微软雅黑";
	margin-top: 10px;
	font-size: 14px;
	
}

#sethead-save{
	float: left;
	display: block;
	width: 140px;
	height: 40px;
	background: #AB2B2B;
	text-decoration: none;
	text-align: center;
	font-family: "微软雅黑";
	font-size: 20px;
	line-height: 40px;
	margin-top: 120px;
	margin-left: 100px;
	color: white;
	border: 1px solid #ab2b2b;
}

#sethead-cancel{
	float: left;
	display: block;
	width: 140px;
	height: 40px;
	background: #f5f5f5;
	color: black;
	border: 1px solid #ccc;
	text-decoration: none;
	text-align: center;
	font-family: "微软雅黑";
	font-size: 20px;
	line-height: 40px;
	margin-top: 120px;
	margin-left: 20px;
}

/****************************新增地址*****************************/

input{
	outline: none;
	border: 1px solid gainsboro;
	padding-top: 3px;
	padding-left: 8px;
}

select{
	width: 141px;
	height: 28px;
	margin-left: 7px;
	
}

a{
	text-decoration: none;
	text-align: center;
}

#new-address:hover{
	text-decoration: underline;
}

.new-address-back{
	display: none;
	z-index: 2;
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: black;
	opacity: 0.8;
}

#new-address-box{
	z-index: 3;
	position: absolute;
	display: none;
	background: white;
	border: 1px solid black;
	width: 660px;
	height: 414px;
	top: 50%;
	left: 50%;
	margin: -207px 0 0 -330px;
}

#new-address-close{
	position: relative;
	float: right;
	text-decoration: none;
	margin: 12px;
	font-size: 28px;
	color: gray;
}

#new-address-form{
	position: relative;
	margin: 40px;
	height: 374px;
	width: 620px;
}

#new-address-name{
	font-family: "微软雅黑";
	font-size: 20px;
	width: 620px;
	height: 60px;
}

#new-address-information{
	font-size: 12px;
	font-family: "微软雅黑";
}

#new-address-up{
	height: 60px;
}

#new-address-up input{
	width: 130px;
	height: 22px;
}

#new-address-phonenum{
	margin-left: 79px;
}

#new-address-place{
	height: 60px;
	
}

#new-address-detailed{
	padding: 6px;
	width: 441px;
	height: 50px;
	outline: none;
	border: 1px solid gainsboro;
}

#new-address-clear{
	float: left;
}

#new-address-bottom{
	margin-top: 40px;
}

#new-address-sure{
	float: left;
	display: block;
	width: 140px;
	height: 40px;
	background: #AB2B2B;
	text-decoration: none;
	text-align: center;
	font-family: "微软雅黑";
	font-size: 20px;
	line-height: 40px;
	margin-left: 80px;
	color: white;
	border: 1px solid #ab2b2b;
}

#new-address-cancel{
	float: left;
	display: block;
	width: 140px;
	height: 40px;
	background: #f5f5f5;
	color: black;
	border: 1px solid #ccc;
	text-decoration: none;
	text-align: center;
	font-family: "微软雅黑";
	font-size: 20px;
	line-height: 40px;
	margin-left: 20px;
}

#new-address-moren{
	float: left;
	margin-top: 10px;
}

#new-address-checkbox{
	width: 20px;
	height: 20px;
}


/**************************辅助显示****************************/


/*通用的页面尾开始*****************************************/
.m-ft2 p, .m-ft2 a{
	color: #FFF;
}
.m-ft2 .inner p{
	font-size: 20px;
}
.m-ft2{
	height: 204px;
	margin-top: 30px;
	padding-top: 37px;
	background-color: #414141;
}

.g-row{
	width: 1090px;
	margin-right: auto;
	margin-left: auto;
	position: relative;
}

.m-siteEnsure{
	margin-bottom: 30px;
}

.m-siteInfo{
	margin-top: 20px;
	text-align: center;
	color: #999;
}

.m-siteEnsure .item{
	float: left;
	width: 33.333333%;
	text-align: center;
	padding-left: auto;
	padding-right: auto;
	
}

.siteEnsure .item .inner{
	color: #fff;
	font-size: 18px;
	line-height: 51px;
	display: inline-block;
	vertical-align: middle;
}

.m-siteEnsure .item .inner .icon{
	margin-left:80px;
	margin-right: 17px;
	margin-bottom: 30px;
}

.icon-normal-ft1{
	background: url(../img/icon-normal.png) no-repeat;
	background-position: 0 -1187px;
	height: 51px;
	width: 51px;
}

.m-siteEnsure .item .inner .icon, .m-siteEnsure .item .inner .text {
    float: left;
    padding-top: 10px
}

.icon-normal-ft2 {
	background: url(../img/icon-normal.png) no-repeat;
    background-position: 0 -1248px;
    height: 51px;
    width: 51px;
}

.icon-normal-ft3 {
	background: url(../img/leaf.png) no-repeat;
    /*background-position: 0 -1309px;*/
    height: 51px;
    width: 51px;
}


.m-siteInfo .nav .split {
    margin: auto 10px;
}

.copyright{
	margin-top: 5px;
}
/*通用的页面尾结束*****************************************/