/*reset*/
*{
	margin: 0;
	padding:0;
}
html,body{
	height:100%;
	overflow: hidden;
}
 .page{
 		height: 100%;
 	width: 100%;
 	position: absolute;
 }
.page .bg{
 	height: 100%;
 	width: 100%;
 	position: absolute;
 }
 .page .snow{
 	z-index: 1;
 	height: 100%;
 	width: 100%;
 	position: absolute;
 	background: url("../image/snow.gif") no-repeat center center;
 	background-size:120%;
 }

/*music*/
#music{
	position: fixed;
	z-index: 999;
	top:40px;
	right:40px;
	width:45px;
	height:45px;
	background:#FFF;
	border-radius:50%;
	border:4px solid #F00;
}
#music >img:first-of-type{
	 position:absolute;
	 width:80%;
	top:0px;
	left:0px;
	right:0px;
	bottom:0px; 
	margin:auto;
	}
#music .play{
	animation: music 2s linear  infinite;
   -webkit-animation: music 2s linear  infinite;
}
#music >img:last-of-type{
	position:absolute;
	top:24%;
	right:5%;
	width: 28.421%;
}
/*animation*/
  @keyframes music{
		from{transform: rotate(0deg);}
		to{transform: rotate(360deg);}
	}
	@-webkit-keyframes music{
		from{transform: rotate(0deg);}
		to{transform: rotate(360deg);}
	}
/*page1*/
 #page1{
 	display: block;
 }
 #page1 .bg{
 	background: url("../image/p1_bg.jpg") no-repeat center center;
 	background-size:120%;
 }
#page1 .text_jin{
	width:176px;
	height: 189px;
	left: 0;
	right: 0;
	top:125px;
	margin:auto;
	position: absolute;
	background: url("../image/text_jin.png") no-repeat center center;
 	background-size:100%;
 	animation:zoomInDown 1.2s;
}
#page1 .text_ji{
	width:87px;
	height: 123px;
	left: 87px;
	right: 0;
	top:255px;
	margin:auto;
	position: absolute;
	background: url("../image/text_ji.png") no-repeat center center;
 	background-size:100%;
 	animation:zoomInUp 1.4s;
}
#page1 .text_he{
	width:148px;
	height: 211px;
	left: 0px;
	right: 80px;
	top:305px;
	margin:auto;
	position: absolute;
	background: url("../image/text_he.png") no-repeat center center;
 	background-size:100%;
    animation: zoomInUp 1.6s;
}

#page1 .text_sui{
	width:235px;
	height: 272px;
	left: 50px;
	right: 0px;
	top:355px;
	margin:auto;
	position: absolute;
	background: url("../image/text_sui.png") no-repeat center center;
 	background-size:100%;
 	animation:scaleInCenter 1.2s;
}
#page1 .lantern1{
	width:60px;
	height: 54px;
	left:10px;
	top:40px;
	position: absolute;
	background: url("../image/lantern.png") no-repeat center center;
 	background-size:100%;
 	animation: swingLR 5s linear infinite;
}
#page1 .lantern2{
	width:60px;
	height: 54px;
	left:110px;
	top:40px;
	position: absolute;
	background: url("../image/lantern.png") no-repeat center center;
 	background-size:100%;
 	animation: swingLR 5s linear infinite;
}
#page1 .lantern3{
	width:60px;
	height: 54px;
	left:210px;
	top:40px;
	position: absolute;
	background: url("../image/lantern.png") no-repeat center center;
 	background-size:100%;
 	animation: swingLR 5s linear infinite;
}
#page1 .lantern4{
	width:60px;
	height: 54px;
	left:310px;
	top:40px;
	position: absolute;
	background: url("../image/lantern.png") no-repeat center center;
 	background-size:100%;
 	animation: swingLR 5s linear infinite;
}

#page1 .yun1{
	z-index: 2;
	width:162px;
	height: 84px;
	top:0;
	bottom:0;
	margin:auto;
	left: 20px;
	position: absolute;
	background: url("../image/yun1.png") no-repeat center center;
 	background-size:100%;
 	/*animation: fadeInUp 1s;*/
 	/*animation:shake 2s linear 1s infinite;*/
 	 animation-name:fadeInUp, shake;
    animation-duration:1s,13s;
    animation-timing-function:linear, linear;
    animation-delay:0, 3s;
    animation-iteration-count:1, infinite;
}
#page1 .yun2{
	z-index: 2;
	width:162px;
	height: 84px;
	bottom:100px;
	left: -80px;
	position: absolute;
	background: url("../image/yun2.png") no-repeat center center;
 	background-size:100%;
 	animation: fadeInRight 1s;
 	transform: rotateY(180deg);
}
#page1 .yun3{
	z-index: 2;
	width:162px;
	height: 84px;
	bottom:10px;
	right: -60px;
	position: absolute;
	background: url("../image/yun2.png") no-repeat center center;
 	background-size:100%;
 	animation: fadeInUp 1s;
}
/*page2*/
  #page2{
	display: none;
  }
  #page2 .bg{
 	background: url("../image/p1_bg.jpg") no-repeat center center;
 	background-size:120%;
 }
 #page2 .couplet1{
 	width:131px;
	height: 481px;
	top:0px;
	bottom:0px;
	margin:auto;
	right:10px;
	position: absolute;
	background: url("../image/couplet.png") no-repeat center center;
 	background-size:100%;
 	animation: fadeInUp 1s;
 }
  #page2 .couplet_r{
  	width:48px;
	height: 800px;
	top:0px;
	bottom:0px;
	right:0px;
	left: 0px;
	margin:auto;
	position: absolute;
	background: url("../image/couplet_1.png") no-repeat center center;
 	background-size:100%;
 	animation: bounceInCenter 3s;
  }
 #page2 .couplet2{
 	width:131px;
	height: 481px;
	top:0px;
	bottom:0px;
	margin:auto;
	left:-15px;
	position: absolute;
	background: url("../image/couplet.png") no-repeat center center;
 	background-size:100%;
 	animation: fadeInUp 1s;
 }

  #page2 .couplet_l{
  	width:48px;
	height: 800px;
	top:0px;
	bottom:0px;
	right:0px;
	left: 0px;
	margin:auto;
	position: absolute;
	background: url("../image/couplet_2.png") no-repeat center center;
 	background-size:100%;
 	animation: bounceInCenter 3s;
  }

  #page2 .text_jin{
	width:176px;
	height: 189px;
	left: 0;
	right: 0;
	top:125px;
	margin:auto;
	position: absolute;
	background: url("../image/text_jin.png") no-repeat center center;
 	background-size:100%;
 	animation:zoomInDown 1.2s;
}
#page2 .text_ji{
	width:87px;
	height: 123px;
	left: 87px;
	right: 0;
	top:255px;
	margin:auto;
	position: absolute;
	background: url("../image/text_ji.png") no-repeat center center;
 	background-size:100%;
 	animation:zoomInUp 1.4s;
}
#page2 .text_he{
	width:148px;
	height: 211px;
	left: 0px;
	right: 80px;
	top:305px;
	margin:auto;
	position: absolute;
	background: url("../image/text_he.png") no-repeat center center;
 	background-size:100%;
    animation: zoomInUp 1.6s;
}

#page2 .text_sui{
	width:235px;
	height: 272px;
	left: 50px;
	right: 0px;
	top:355px;
	margin:auto;
	position: absolute;
	background: url("../image/text_sui.png") no-repeat center center;
 	background-size:100%;
 	animation:scaleInCenter 1.2s;
}
/*page3*/

 #page3{
 	display: none;
 }
 #page3 .bg{
 	background: url("../image/p1_bg.jpg") no-repeat center center;
 	background-size:120%;
 }

 #page3 .lantern1{
	width:60px;
	height: 54px;
	left:10px;
	top:40px;
	position: absolute;
	background: url("../image/lantern.png") no-repeat center center;
 	background-size:100%;
 	animation: swingLR 5s linear infinite;
}
#page3 .lantern2{
	width:60px;
	height: 54px;
	left:110px;
	top:40px;
	position: absolute;
	background: url("../image/lantern.png") no-repeat center center;
 	background-size:100%;
 	animation: swingLR 5s linear infinite;
}
#page3 .lantern3{
	width:60px;
	height: 54px;
	left:210px;
	top:40px;
	position: absolute;
	background: url("../image/lantern.png") no-repeat center center;
 	background-size:100%;
 	animation: swingLR 5s linear infinite;
}
#page3 .lantern4{
	width:60px;
	height: 54px;
	left:310px;
	top:40px;
	position: absolute;
	background: url("../image/lantern.png") no-repeat center center;
 	background-size:100%;
 	animation: swingLR 5s linear infinite;
}
#page3 .people{
	width:300px;
	height: 288px;
	left:0px;
	right:0px;
	bottom:0px;
	margin:auto;
	position: absolute;
	background: url("../image/people.png") no-repeat center center;
 	background-size:100%;
 	animation: fadeInCenter 1s;
}
#page3 .spring_time{
	width:188px;
	height: 36px;
	left:0px;
	right:0px;
	top:40%;
	margin:auto;
	position: absolute;
	background: url("../image/spring.png") no-repeat center center;
 	background-size:100%;
 	animation: fadeInCenter 3s;
}

#page3 .happy{
	width:283px;
	height: 58px;
	left:0px;
	right:0px;
	top:30%;
	margin:auto;
	position: absolute;
	background: url("../image/happy.png") no-repeat center center;
 	background-size:100%;
 	animation: fadeInCenter 4s;
}
#page3 .newyear{
	width:100%
	height: 58px;
	left:0px;
	right:0px;
	top:20%;
	margin:auto;
	position: absolute;
 	background-size:100%;
 	font-size: 70px;
 	color: #FFE498;
 	letter-spacing: 30px;
 	text-align: center;
 	animation: scaleInCenter 1.2s;

}